{% extends 'main.html' %}

{% block content %}
{% load static %}
<link href="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<div class="row py-4">
    <div class="col-lg-6">
        <img src={{product.imageURL}} > 
        <hr>
        <button data-product="{{ product.id }}" data-action="add"
                class="btn btn-secondary add-btn update-cart">Add to Cart</button>
    </div>
    <div class="col-lg-6">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Back to store</a>
            <hr>
            <h3>{{product.name}}</h3>
            <h5><b>Rs.{{product.price}}</b></h5>
            <p>{{product.desc}}</p>
            <hr>
        </div>
    </div>

</div>
{% endblock %}